<body class = "body-four">
<div class = "div3">
<h1><%= current_user.username %></h1>
<ul>

<li> <%= current_user.first_name %></li>
<li> <%= current_user.Last_name %></li>
<li> <%= current_user.Email %> </li>
</ul>

<div class = "div-5">
<form action="/posts" method="post">
  <li>Title:<input type="text" name="title"></li>
  <h2>Comments</h2> 
  <li><textarea name="comment" id="" cols="30" rows="5"></textarea></li>
  <li><input type="submit" value="Create post"></li>
</form>
</div>
</div>
</body>
