




<body class = "body-two">
<div class = "div1">
<h1> Sign up here </h1>
    <div class = "div-seven">
<form action="/signup" method="post">
    <li><input type="text" name= "username" placeholder="Username"></li>
    <li><input type="password" name="password" placeholder="Password"></li>
    <li><input type="text" name="firstname" placeholder= "firstname"></li>
     <li><input type="text" name="lastname" placeholder= "lastname"></li>
      <li><input type="email" name="email" placeholder= "Email"></li>
      <li><input type= "date" naem= "birthday" placeholder = "DOB"></li>
    <li><input type="submit" value="login"></li>
</form>
</div>
</div>
</body>