<body class = "body-five">



<% @users.each do |user| %>
  <%= user.username %><br />
  <%= user.first_name %><br />
  <%= user.Last_name %><br />
  <%= user.Email %><br />
  <br />
<% end %>



</body>

